<ion-content class="ion-padding">

  <!-- Profile & Notification -->
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
      <div style="margin-left: 20px; padding-right: 10px;" style="color: #8B4513;">{{ username }}</div>
    </div>
    <ion-icon name="notifications-outline" size="large" style="color: #8B4513;"></ion-icon>
  </div>

  <div style="text-align: center; margin-top: 20px; size: 100px;">
    <img src="assets/bannercontoh.jpg" alt="Menu Banner" style="width: 100%; border-radius: 10px;" />
  </div>

  <!-- Menu Buttons -->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <ion-button id="open-loading" expand="block" class="custom-button" [routerLink]="['/dine-in']">
          <ion-icon name="restaurant-outline" slot="start" class="custom-icon"></ion-icon>
          DINE IN
        </ion-button>
        <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="450"></ion-loading>
      </ion-col>
      <ion-col size="4">
        <ion-button id="open-takeaway" expand="block" class="custom-button" [routerLink]="['/take-away']">
          <ion-icon name="bag-outline" slot="start" class="custom-icon"></ion-icon>
          TAKE AWAY
        </ion-button>
        <ion-loading class="custom-loading" trigger="open-takeaway" message="Loading..." [duration]="450"></ion-loading>
      </ion-col>
      <ion-col size="4">
        <ion-button id="open-reserve" expand="block" class="custom-button" [routerLink]="['/reservasi-menu']">
          <ion-icon name="calendar-outline" slot="start" class="custom-icon"></ion-icon>
          RESERVE
        </ion-button>
        <ion-loading class="custom-loading" trigger="open-reserve" message="Loading..." [duration]="450"></ion-loading>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Popular Items -->
  <div style="display: flex; justify-content: space-between; margin-top: 20px; margin-right: 10px;">
    <h2 style="color: #8B4513;">Popular Items</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" size="6" size-md="4" size-lg="2">
        <ion-card class="menu-card">
          <img [src]="item.image" class="menu-img" />
          <div class="menu-text"
            style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <p class="menu-title" style="margin: 0; font-size: 14px;">{{ item.name }}</p>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/order">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
